@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#xo-container,
#xo-container * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#xo-container {
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    max-height: 820px;
    background: #00a396;
}

#xo-startMenu {
    min-height: 580px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#xo-startPartyMenu {
    width: 100%;
}

#xo-joinPartyMenu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2rem 3px;
    background: #09ba79;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
    margin: 0.5rem auto;
}

#xo-joinPartyMenu .input,
#xo-startPartyMenu .input {
    padding: 0.8rem 0.4rem;
    min-height: 2rem;
    border: none;
    border-radius: 0;
    margin-bottom: 0.8rem;
    border: 3px solid #a36608;
    border-radius: 3px;
}

#xo-joinPartyMenu .long-input,
#xo-startPartyMenu .long-input {
    display: block;
    font-size: 1.2rem;
    width: 100%;
}

#xo-joinPartyMenu .short-input,
#xo-startPartyMenu .short-input {
    width: calc(60% - 5px);
}

#xo-joinPartyMenu .btn,
#xo-startPartyMenu .btn {
    cursor: pointer;
    min-height: 2rem;
    border: none;
    border-radius: 0;
    margin-bottom: 0.8rem;
    font-weight: 600;
    background: #f09b18;
    color: #222;
    border-radius: 3px;
}

#xo-joinPartyMenu .btn:hover,
#xo-startPartyMenu .btn:hover {
    background: #f01f18;
    color: #222;
}

#xo-joinPartyMenu .long-btn,
#xo-startPartyMenu .long-btn {
    font-size: 1.2rem;
    display: block;
    width: 100%;
}

#xo-joinPartyMenu .short-btn,
#xo-startPartyMenu .short-btn {
    font-size: 1rem;
    width: calc(40% - 5px);
}

#xo-partyScreen {
    min-height: 550px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}

#xo-gridBoard {
    display: grid;
    gap: 0.2rem;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    background: rgba(255, 255, 255, 0.021);
    margin: 1rem auto;
    max-width: fit-content;
    max-width: max-content;
}

#xo-gridBoard > div {
    font-size: 80px;
    font-weight: 550;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
}

#xo-gridBoard > div {
    background: rgb(255, 255, 255);
}

.player-card,
#xo-partyScreen .player-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    padding: 0.5rem;
    background: #fff;
}

#xo-partyScreen .player-card p {
    margin-bottom: 0.3rem;
    font-size: 1rem;
}

.turn-toggle,
#xo-partyScreen .turn-toggle {
    width: 5rem;
    font-weight: 550;
    padding: 0.4rem;
    text-align: center;
    border-radius: 5px;
}

.join-code,
#xo-partyScreen .join-code {
    border: rgb(255, 102, 0) solid 2px;
    border-radius: 5px;
    padding: 0.2rem;
    background: rgb(255, 161, 98);
}
